#navBlock{
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 8px 0px rgb(red, green, blue);
}
#navBlock> {
    width:100%; 
}

.menuBlock > ul{
    list-style-type: disc;
    display: flex;
}
.logoBlock{
    width: 80%;
    display: flex;
}

.menuBlock > ul> li>a{


}